*~
*.bak
.buildpath
.project
.settings
*.tmproj
.idea
nbproject/
tags
.DS_Store
Thumbs.db
desktop.ini
tags
nbproject/

/node_modules/*
package-lock.json

/src/client/js/config/config.json*

/public/assets/js/*
/public/assets/css/*
/public/.htaccess

